<div ng-contoller="ProfileController" class="" style="margin: 100px 450px">
    <h4>Hello!</h4>
    <h4>Please login with your username and password</h4>
    <form class="">
      <input type="text" id="login_name" placeholder="Userame" class="" style="display: inline-block" ng-model="login_user.name" />
      <input type="text" id="login_password" placeholder="password" class="" style="display: inline-block" ng-model="login_user.name" />
      <a href="#/dashboard"><button style="display: block; float: right" class="" id="Get_User_Name" ng-click="loginUser()">Enter</button></a>
    </form>
    <p>Don't have one? No worries, <a href="#">Sign Up!</a>
  </div>